[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ptvsd = "*"

[packages]
torch = "*"
torchvision = "*"
jupyterlab = "*"
jupytext = "*"
hydra-core = "*"
tensorboardx = "*"
mlflow = "*"
nltk = "*"
torchtext = "*"
optuna = "*"

[requires]
python_version = "3.7"
